* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg,rgba(20, 117, 228, 0.7),rgba(153, 59, 160, 0.5));
    background-repeat: no-repeat;
    color: #ffff;
    place-items: center;
    display: grid;
}

img{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}
.img{
    position: relative;
}

#heading {
    text-align: center;
    font-size: 4rem;
    color: rgb(42, 53, 19);
    background: rgba(133, 248, 118, 0.5);
    font-family:Georgia, 'Times New Roman', Times, serif;

}

#quiz{
margin: 0.2rem;
padding: 0.3rem;
}

.questions{
    margin: 2rem auto;
    padding: 2rem;
    width: 90vw;
    background: rgba(0,225,221,0.5);
    border-radius: 1rem;
    cursor: default;
}

#question{
    margin-bottom: 1rem;
}

#options:hover{
    color:white;
}

.options{
    margin-bottom: 0.7rem;
    font-size: 1.2rem;
    width: 15rem;
    background: lightblue;
    border-bottom: solid,0.1rem blue;
    border-radius: 1rem;

}

ol{
    position: relative;
    padding: 0 1.5rem;
    color: rgb(29, 107, 107);
}

#stat{
    color: rgb(45, 51, 146);
    margin-top: 1.5rem;
}
.buttons{
    text-align: center;
}

button{
    padding: 0.2rem 1.5rem;
    border: none;
    font-size: 1.6rem;
    border-radius: 1.6rem;
    color: rgba(93,53,156,0.98);
    background: rgba(161,177,21,0.9);
}

button:active{
    background: lavenderblush;
}

span {
    display: block;
    padding: 0.2rem 0.7rem;
    border-radius: 1rem;
}
